/* sensor-table */
#sensor-table {
    border-collapse: collapse;
}
#sensor-table th, #sensor-table td {
    border: 1px solid black;
    padding: 3px 5px;
}

/* map */
#map {
    width: 600px;
    height: 600px;
}

/* footer */
#footer-status {
    height: 25px; 
    position: fixed; 
    bottom: 0%;
    width: 100%;
}
